.App {
  text-align: center;
}
.container {
  min-width: 350px;
}
.board__item {
  min-width: 18rem;
}

@media (max-width: 768px) {
  body {
    font-size: 0.75rem;
  }
  .btn, .modal-title, .card-title, .form-control, .list-group-item {
    font-size: 0.75rem;
  }
  .board__item {
    min-width: 14rem;
  }
}
@media (max-width: 576px) {
  .boards {
      flex-flow: column;
  }
  .board__item {
    margin: 10px 0;
  }
}
